USE [master]
GO
/****** Object:  Database [QuanlyThuvien]    Script Date: 12/9/2020 10:00:52 PM ******/
CREATE DATABASE [QuanlyThuvien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanlyThuvien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLDEV2019\MSSQL\DATA\QuanlyThuvien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanlyThuvien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLDEV2019\MSSQL\DATA\QuanlyThuvien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanlyThuvien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanlyThuvien]
GO
/****** Object:  Table [dbo].[DAUSACH]    Script Date: 12/9/2020 10:00:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAUSACH](
	[MADAUSACH] [char](10) NOT NULL,
	[TENDAUSACH] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADAUSACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCVIEN]    Script Date: 12/9/2020 10:00:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCVIEN](
	[MAHV] [char](10) NOT NULL,
	[TENHV] [nvarchar](50) NOT NULL,
	[SDT] [char](10) NULL,
	[NGAYSINH] [date] NULL,
	[DONVI] [char](10) NULL,
	[GIOITINH] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUONSACH]    Script Date: 12/9/2020 10:00:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUONSACH](
	[MAPHIEU] [char](10) NULL,
	[MASACH] [char](10) NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
	[NGAYHENTRA] [date] NULL,
	[NGAYTRA] [date] NULL,
	[TRANGTHAITRA] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUON]    Script Date: 12/9/2020 10:00:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUON](
	[MAPHIEU] [char](10) NOT NULL,
	[NGAYMUON] [date] NULL,
	[MAHV] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 12/9/2020 10:00:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [char](10) NOT NULL,
	[TENSACH] [nvarchar](30) NULL,
	[TRANGTHAI] [nvarchar](10) NULL,
	[SOLUONG] [int] NULL,
	[TENNXB] [nvarchar](30) NULL,
	[TENTG] [nvarchar](30) NULL,
	[MADAUSACH] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRASACH]    Script Date: 12/9/2020 10:00:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRASACH](
	[MASACH] [char](10) NULL,
	[MAHV] [char](10) NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
	[NGAYTRA] [date] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DAUSACH] ([MADAUSACH], [TENDAUSACH]) VALUES (N'DS01      ', N'Văn học')
INSERT [dbo].[DAUSACH] ([MADAUSACH], [TENDAUSACH]) VALUES (N'DS02      ', N'Toán học')
INSERT [dbo].[DAUSACH] ([MADAUSACH], [TENDAUSACH]) VALUES (N'DS03      ', N'Khoa học')
INSERT [dbo].[HOCVIEN] ([MAHV], [TENHV], [SDT], [NGAYSINH], [DONVI], [GIOITINH]) VALUES (N'HV001     ', N'Bùi Đăng Việt', N'0984324675', CAST(N'1999-10-28' AS Date), N'c153      ', N'Nam')
INSERT [dbo].[HOCVIEN] ([MAHV], [TENHV], [SDT], [NGAYSINH], [DONVI], [GIOITINH]) VALUES (N'HV002     ', N'Bùi Đăng Vũ', N'0984324874', CAST(N'1999-10-28' AS Date), N'c153      ', N'Nam')
INSERT [dbo].[HOCVIEN] ([MAHV], [TENHV], [SDT], [NGAYSINH], [DONVI], [GIOITINH]) VALUES (N'HV003     ', N'Nguyễn Đăng Long', N'0984841324', CAST(N'1998-11-28' AS Date), N'c153      ', N'Nữ')
INSERT [dbo].[MUONSACH] ([MAPHIEU], [MASACH], [TRANGTHAI], [NGAYHENTRA], [NGAYTRA], [TRANGTHAITRA]) VALUES (N'PM001     ', N'BK001     ', N'Sách mới', CAST(N'2020-03-10' AS Date), CAST(N'2020-12-09' AS Date), N'OK')
INSERT [dbo].[MUONSACH] ([MAPHIEU], [MASACH], [TRANGTHAI], [NGAYHENTRA], [NGAYTRA], [TRANGTHAITRA]) VALUES (N'PM002     ', N'BK002     ', N'Sách cũ', CAST(N'2020-03-10' AS Date), CAST(N'2020-12-09' AS Date), N'OK')
INSERT [dbo].[MUONSACH] ([MAPHIEU], [MASACH], [TRANGTHAI], [NGAYHENTRA], [NGAYTRA], [TRANGTHAITRA]) VALUES (N'PM003     ', N'BK003     ', N'Sách cũ', CAST(N'2020-04-01' AS Date), NULL, N'OK')
INSERT [dbo].[PHIEUMUON] ([MAPHIEU], [NGAYMUON], [MAHV]) VALUES (N'PM001     ', CAST(N'2020-02-28' AS Date), N'HV001     ')
INSERT [dbo].[PHIEUMUON] ([MAPHIEU], [NGAYMUON], [MAHV]) VALUES (N'PM002     ', CAST(N'2020-02-28' AS Date), N'HV002     ')
INSERT [dbo].[PHIEUMUON] ([MAPHIEU], [NGAYMUON], [MAHV]) VALUES (N'PM003     ', CAST(N'2020-03-01' AS Date), N'HV003     ')
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [TRANGTHAI], [SOLUONG], [TENNXB], [TENTG], [MADAUSACH]) VALUES (N'BK001     ', N'Văn học Việt Nam', N'Còn', 10, N'Kim Đồng', N'Bùi Thế Việt', N'DS01      ')
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [TRANGTHAI], [SOLUONG], [TENNXB], [TENTG], [MADAUSACH]) VALUES (N'BK002     ', N'Toán học', N'Còn', 20, N'Toán học Việt Nam', N'Nguyễn Thế Vịnh', N'DS02      ')
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [TRANGTHAI], [SOLUONG], [TENNXB], [TENTG], [MADAUSACH]) VALUES (N'BK003     ', N'Khoa học', N'Còn', 5, N'Khoa học vũ trụ', N'Alexander Pi', N'DS03      ')
INSERT [dbo].[TRASACH] ([MASACH], [MAHV], [TRANGTHAI], [NGAYTRA]) VALUES (N'BK001     ', N'HV001     ', N'OK', CAST(N'2020-12-09' AS Date))
ALTER TABLE [dbo].[MUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_M_PH] FOREIGN KEY([MAPHIEU])
REFERENCES [dbo].[PHIEUMUON] ([MAPHIEU])
GO
ALTER TABLE [dbo].[MUONSACH] CHECK CONSTRAINT [FK_M_PH]
GO
ALTER TABLE [dbo].[MUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_M_S] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[MUONSACH] CHECK CONSTRAINT [FK_M_S]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PH] FOREIGN KEY([MAHV])
REFERENCES [dbo].[HOCVIEN] ([MAHV])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PH]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_S] FOREIGN KEY([MADAUSACH])
REFERENCES [dbo].[DAUSACH] ([MADAUSACH])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_S]
GO
ALTER TABLE [dbo].[TRASACH]  WITH CHECK ADD  CONSTRAINT [FK_T_HV] FOREIGN KEY([MAHV])
REFERENCES [dbo].[HOCVIEN] ([MAHV])
GO
ALTER TABLE [dbo].[TRASACH] CHECK CONSTRAINT [FK_T_HV]
GO
ALTER TABLE [dbo].[TRASACH]  WITH CHECK ADD  CONSTRAINT [FK_T_S] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[TRASACH] CHECK CONSTRAINT [FK_T_S]
GO
ALTER TABLE [dbo].[HOCVIEN]  WITH CHECK ADD CHECK  (([GIOITINH]=N'Nữ' OR [GIOITINH]=N'Nam'))
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD CHECK  (([TRANGTHAI]=N'Hết' OR [TRANGTHAI]=N'Còn'))
GO
USE [master]
GO
